.sliderContainer {
    width: 57%;
    margin: -50px auto;
    overflow: hidden;
}

.sliderContainer__slider {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: nowrap;
    width: max-content;
    transition: all ease 0.01s;
}

.sliderContainer__slider__list {
    width: 80vh;
}
