
.searchForm {
  width: 60%;
  margin: 15vh auto; }

.searchForm__textInput {
  width: 87%;
  height: 4vh;
  border: 1px solid #888;
  border-radius: 5px;
  padding-left: 10px; }
  .searchForm__textInput:focus {
    outline: none; }

.searchForm__submit {
  width: 10%;
  height: 4vh;
  border: 1px solid #888;
  border-radius: 5px;
  background-color: #fff; }
  .searchForm__submit:focus {
    outline: none; }
  .searchForm__submit:hover {
    background-color: #ccc;
    cursor: pointer; }

.repoItem {
  width: 60%;
  height: 6vh;
  margin: 10px auto;
  border: 1px solid #888;
  border-radius: 5px;
  text-align: center;
  font-family: sans-serif; }

.repoItem__name {
  color: #000;
  font-size: 1.2rem; }

.repoItem__content {
  width: 60%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.repoItem__content__author {
  color: #000; }

